{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Host list" %}{% endblock %}

{% block content %}
    <h1>{% trans "Create a new host" %}</h1>
    <form method="POST">
        <fieldset>
            <label>{% trans "Name" %}</label>
            <input type="text" name="name">

            <label>{% trans "Pool name" %}</label>
            <select name="pool_name">
                <option value=""></option>
                {% for pool in pools %}
                    <option value="{{ pool }}">{{ pool }}</option>
                {% endfor %}
            </select>

            <label>{% trans "or category" %}</label>
            <select name="category">
                <option value=""></option>
                {% for cat in categories %}
                    <option value="{{ cat }}">{{ cat }}</option>
                {% endfor %}
            </select>

            <label>{% trans "Address" %}</label>
            <input type="text" name="address">

            <label>{% trans "Mac address" %}</label>
            <input type="text" name="mac"><br>

            <label><input type="checkbox" name="random">
            {% trans "Random allocation" %}</label>
        </fieldset>

        <fieldset>
            <legend>{% trans "Optional information" %}</legend>
            <label>{% trans "Serial number" %}</label>
            <input type="text" name="serial">

            <label>{% trans "Inventory number" %}</label>
            <input type="text" name="inventory">

            <label>{% trans "Owner" %}</label>
            <input type="text" name="owner">
        </fieldset>
        <button class="btn btn-primary" type="submit">{% trans "Create" %}</button>
    </form>
{% endblock %}
