{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link href="http://slam.lal.in2p3.fr/assets/css/bootstrap.css" rel="stylesheet" media="screen">
        <style type="text/css">
            /* Fix Boostrap's mistake... */
            body { padding-top: 60px; }
        </style>

    </head>
    <body>
        <script src="http://slam.lal.in2p3.fr/assets/js/jquery-latest.js"></script>
        <script src="http://slam.lal.in2p3.fr/assets/js/bootstrap.js"></script>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav pull-right">
                        <li><a href="/lang/">{% trans "Language" %}</a></li>
                        {% if request and request.user and request.user.is_authenticated %}
                            <li><a href="/logout">{% trans "Logout" %}</a></li>
                        {% else %}
                            <li><a href="/login">{% trans "Login" %}</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav">
                        <li class="active"><a class="brand" href="/">SLAM</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                {% trans "Pools" %}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/pool">{% trans "List" %}</a></li>
                                <li><a href="/addpool">{% trans "Add" %}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                {% trans "Hosts" %}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/host">{% trans "List" %}</a></li>
                                <li><a href="/addhost">{% trans "Add" %}</a></li>
                                <li><a href="/search">{% trans "Search" %}</a></li>
                            </ul>
                        </li>
                        <li><a href="/logs/">{% trans "Log journal" %}</a></li>
                        <li><a href="/reload/">{% trans "Generate" %}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
