{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Host list" %}{% endblock %}

{% block content %}
    <h1>{% trans "Host list" %}</h1>
    {% if host_list %}
        <table class="table table-hover table-striped table-bordered table-condensed" style="vertical-align: middle">
        <tr>
            <th>{% trans "Host name" %}</th>
            <th style="max-width: 50px">{% trans "Aliases" %}</th>
            <th>{% trans "Addresses" %}</th>
            <th>{% trans "MAC addresses" %}</th>
        </tr>
        {% for host, addrs in host_list %}
            <tr>
                <td><a href="/host/{{ host.name }}">{{ host.name }}</a></td>
                <td>{{ host.alias_set.all|join:"<br>" }}</td>
                <td>
                    {% for addr in addrs %}
                        {% if not forloop.first %}<br>{% endif %}
                        <a href="/address/{{ addr.addr }}">{{ addr.addr }}</a>
                        {% if addr.pool %}
                            (pool: <a href="/pool/{{ addr.pool.name }}">{{ addr.pool.name }}</a>)
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for addr in addrs %}
                        {% if not forloop.first %}<br>{% endif %}{{ addr.macaddr }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}
