{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Pool list" %}{% endblock %}

{% block content %}
    <h1>{% trans "Pool list" %}</h1>
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead><tr>
            <th>{% trans "Pool name" %}</th>
            <th>{% trans "Range" %}</th>
            <th>{% trans "Usage" %}</th>
        </tr></thead>
        <tbody>{% for pool, addr_used, addr_avail, addr_perc in pool_list %}
            <tr>
                <td><a href="/pool/{{ pool.name }}">{{ pool.name }}</a></td>
                <td>{{ pool.addr_range_str }}</td>
                <td>{{ addr_used }} / {{ addr_avail }} ({{ addr_perc }}%)</td>
            </tr>
        {% endfor %}</tbody>
    </table>
{% endblock %}
